{% extends 'admin/base.html.twig' %}

{% block title %}Banner
{% endblock %}

{% block body %}
	<h1>Banner</h1>

	<div class="x_panel">
		<div class="x_title">
			<h2>Banner cadastrados
				<small></small>
			</h2>
			<a class="btn btn-secondary right_col__btn" href="{{ path('app_banner_new') }}" role="button">Cadastrar novo banner</a>
		</div>

		<div class="col-md-12 col-sm-12  ">
			<div class="x_panel">

				<div class="x_content">
					<table class="table table-hover">
						<thead>
							<tr class="table-title">
								<th>Nome</th>
								<th>Imagem</th>
								<th>Posição</th>
								<th>Sequência</th>
								<th>Situação</th>
								<th class="text-center">Ação</th>
							</tr>
						</thead>
						<tbody>
							{% for banner in banners %}
								<tr class="table__itens">
									<td>{{ banner.name }}</td>
									<td>{{ banner.image }}</td>
									<td>{{ banner.position }}</td>
									<td>{{ banner.sequence }}</td>
									<td>{{ banner.status }}</td>
									<td class="text-center">

										<a class='btn btn-success table__btn' role="button" href="{{ path('app_banner_edit', {'id': banner.id}) }}">Editar</a>

										<a class='btn btn-danger table__btn' role="button" href="{{ path('app_banner_delete', {'id': banner.id}) }}">Excluir</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="8">Nenhum banner cadastrado</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
